<template>
  <div class="about flex flex-col items-center" >
    <input type="text" class="bg-gray-300 px-4 py-2"
    autocomplete="off" v-model="state" @input="filterStates" @focus="modal=true">
    <div v-if="filteredStates && modal">
      <ul class="w-48 bg-gray-800 text-white">
        <li v-for="filteredState in filteredStates" class="py-2 border-b cursor-pointer" @click="setState(filteredState)" v-bind:key="filteredState">{{filteredState}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data: function(){
    return {
      state:'',
      modal: false,
      states:['Florida','Alabama','Alaska','Texas'],
      filteredStates:[],
    }
  },
  methods:{
    filterStates(){
      this.filteredStates = this.states.filter(state => {
        return state.toLowerCase().startsWith(this.state.toLowerCase());
      });
    },
    setState(state){
      this.state = state;
      this.modal= false;
    }
  }
}
</script>